<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ItemName</key>
		<string>milk</string>
		<key>Image</key>
		<string>milk.jpg</string>
		<key>Type_1</key>
		<string>Type1_1</string>
		<key>Type_2</key>
		<string>Type2_2</string>
		<key>Type_3</key>
		<string>Type3_3</string>
		<key>AddedDate</key>
		<date>2013-12-22T10:17:10Z</date>
		<key>OutDate</key>
		<date>2014-01-01T10:17:10Z</date>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>egg</string>
		<key>Image</key>
		<string>egg.jpg</string>
		<key>Type_1</key>
		<string>Type1_1</string>
		<key>Type_2</key>
		<string>Type2_2</string>
		<key>Type_3</key>
		<string>Type3_3</string>
		<key>AddedDate</key>
		<date>2013-12-23T10:17:10Z</date>
		<key>OutDate</key>
		<date>2014-01-02T10:17:10Z</date>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>apple</string>
		<key>Image</key>
		<string>apple.jpg</string>
		<key>Type_1</key>
		<string>Type1_1</string>
		<key>Type_2</key>
		<string>Type2_2</string>
		<key>Type_3</key>
		<string>Type3_3</string>
		<key>AddedDate</key>
		<date>2013-12-23T10:17:10Z</date>
		<key>OutDate</key>
		<date>2014-01-03T10:17:10Z</date>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>fish</string>
		<key>Image</key>
		<string>fish.jpg</string>
		<key>Type_1</key>
		<string>Type1_1</string>
		<key>Type_2</key>
		<string>Type2_2</string>
		<key>Type_3</key>
		<string>Type3_3</string>
		<key>AddedDate</key>
		<date>2013-12-24T10:17:10Z</date>
		<key>OutDate</key>
		<date>2014-01-04T10:17:10Z</date>
	</dict>
</array>
</plist>
